body {
  margin: 0;
  height: 100vh;
  font-family: 'Alata', sans-serif;
}
h1 {
  font-size: 40px;
  font-family: 'Alata', sans-serif;
  padding: 32px;
  margin: 0;
}
h2 {
  font-size: 24px;
  font-family: 'Alata', sans-serif;
}
p {
  font-size: 16px;
  width: 630px;
}
a {
  color: black;
}
ul, ol {
  padding-inline-start: 30px;
}
header, footer {
  background-color: #C4C4C4;
  width: 100%;
  margin: 0;
  padding: 0;
}
.rodape {
  padding: 16px 32px;
}
.pfp {
  border-radius: 50%;
}
.perfil {
  background-color: #F3F3F3;
  padding: 32px;
}
.content {
  margin: 32px;
}
.icon {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}