body {
  margin: 0;
  height: 100vh;
  font-family: 'Alata', sans-serif;
}
h1 {
  font-size: 40px;
  font-family: 'Alata', sans-serif;
  margin: 0;
}
h2 {
  font-size: 24px;
  font-family: 'Alata', sans-serif;
}
p {
  font-size: 16px;
  width: 614px;
}
a {
  color: black;
  text-decoration: none;
}
ul, ol {
  display: flex;
  list-style-type: none;
  padding: 0;
}
li {
  position: relative;
  margin: auto 6px;
  background-color: #DFDFDF;
  width: 105px;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  }
header, footer {
  background-color: #C4C4C4;
  margin: 0;
  padding: 28px 115px;
  display: flex;
  justify-content: space-between;
}
.title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.tag {
  width: 20px;
  height: 45px;
  background-color: #C4C4C4;
  border-radius: 0 0 6px 6px;
  margin-left: 10px;
}
.about {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  margin-left: 125px;
}
.links {
  display: flex;
  margin: auto 16px;
}
.links a {
  margin: 0 16px;
  font-size: 24px;
}
.pfp {
  border-radius: 50%;
  width: 247px;
  height: 247px;
}
.perfil {
  display: flex;
  margin: 35px 16%;
  justify-content: center;
}
.content {
  display: flex;
  justify-content: center;
  margin: 32px;
}
.hobbies {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 66px;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.icon {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
